@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);
@import url(http://fonts.googleapis.com/css?family=Coming+Soon);

.container{
  margin-top: 1rem;
  border: 3rem solid #CCCCCC;
  border-radius: 20px;
  height: 90%;
  -webkit-box-shadow: 2px 1px 9px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    2px 1px 9px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         2px 1px 9px 0px rgba(50, 50, 50, 0.75);
}

#add-input{
  margin: 1rem;
  text-align: center;
}

td{
  font-family: 'Coming Soon', cursive;
}

td:hover{
  cursor: pointer
}

th{
  text-decoration: underline;
  padding-top: 1rem;
  padding-bottom: 3rem; 
  font-family: 'Coming Soon', cursive;
  font-size: 2rem;
  color: red;
  text-align: center
}

table{
  margin: auto;
  text-align: center;
}

.row{
  height: 100%;
}

.col-md-4{
  height:100%;
}


#todo{
}


#wip{
  border-left: 1px dotted black;
  border-right: 1px dotted black;
}

#done td{
  text-decoration: line-through;
}

div{
  height: 5rem;
}
